h1 {
    color: blue;
    font-size: 100px;
    margin: 0px;
}

ul {
    margin: 0px;
}

.album_title {
    color: green;
    font-size: 20px;
}

.album_title::first-letter {
    text-transform: uppercase;
    font-size: 30px;
    color: darkgreen;
    }